html {
    font-size: 14px;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #f2f2f2;
}
.navbar-brand {
    margin-right: 2em;
}
#web-tools .hero-body {
    padding: 1.5rem 0rem;
}
address span {
    display: block;
    font-style: normal;
    
}
footer {
    padding: 2rem 0;
}
footer p.column {
    /* 垂直靠下 */
    
    margin-top: auto;

}
